#!/bin/bash

# Open location after navigation in ranger
alias ranger=". ranger"

# Use neovim if available
if command -v nvim > /dev/null; then
  alias vim="nvim"
fi

# Manage dotfiles repository
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Exa
alias ll="exa -l -g --icons --git"
alias llt="exa -1 --icons --tree --git-ignore"

# Python
alias python="python3"
